body{
    background-color: rgb(150, 193, 214);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;

}

footer{
    background-color: rgb(174, 211, 174);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

nav{
    background-color: rgb(174, 211, 174);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}