<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>About Us Page!</h1>

<p>My name is Jenny Yu and I am currently a student in the Computer Science Academy at Oakland Technical High School! I was introduced to this topic in 9th grade and have been coding ever since! Throughout the past couple of years, I have been able to gain experience through various internships and college courses. </p>

<img src="https://oaklandtech.com/staff/files/2015/10/Dusk-at-school-1024x500.jpg" width="300" height="200">

<p>The purpose of this website is to inform students about mental health and provide the neccesary resources. We hope that the users will be able to utilize the interactive features such as the activities on the quiz and to-do page.</p>

<p>Contact me! 
    Email: s_jenny.yu2@ousd.org </p>

<p>Version History: 3/7/22</p>
{% endblock %}